extends layout

block content
  h1 #{category.name}

  div(style='margin-left:20px;margin-top:20px')
    h4 Products

    if productList.length > 0
      dl
        each product in productList
          dt
            a(href=product.url) #{product.name}
          dd #{product.description}

      p(style="color: red;") Delete the associated products first.

    else
      p This category has no tools.
  
  form(method='POST')
    div.form-group
      input#categoryId.form-control(type='hidden', name='categoryId', value=category._id)

    button.btn.btn-primary(type='submit') Delete Category