extends layout

block content
  h1= title
  p Address: #{address}

  h2 Products in this Location:
  each inventory in products
      p Product Name: #{products.name}
      p Price: #{products.price}
      p Other Product Information: #{products.description}
