extends layout

block content
  h1= title
  p Address: #{address}

  h2 Products in this Location:
  each product in products
    p
      | Product: 
      a(href=`/store/product/${product._id}`) #{product.name}
      br
      | Price: #{product.price}
      br
      | Other Product Information: #{product.description}
      br

  if locationInfo
    h2 Location Details
    p Location Name: #{locationInfo.name}
    p Address: #{locationInfo.address}
    hr    
    p
      a(href=`${locationInfo.url}/delete`) Delete location
    p
    a(href=`${locationInfo.url}/update`) Update location
  else
    p Location not found.
