extends layout

block content
  h1= title

  if productList.length
    div.row
      each product, index in productList
        div.col-lg-3.col-md-4.col-sm-6
          div.card.mb-4(style='background-color: #f8f9fa;')
            if product.img
              img(src=`data:image/jpeg;base64,${product.img.toString('base64')}`, alt=product.name, class='card-img-top img-fluid', style='height: 350px; object-fit: cover;')
            else
              img(src='/images/missing_image.png', alt="Missing Image", class='card-img-top img-fluid', style='height: 350px; object-fit: cover;')
            div.card-body
              a(href=product.url, class='d-block h4 mb-1') #{product.name}
              p Manufactured by: 
                a(href=product.manufacturer.url) #{product.manufacturer.name}
              h5.font-weight-bold Price: #{product.price} lei
              p Quantity: 
                span.badge(style=`background-color: ${product.quantity === 0 ? 'red' : (product.quantity < 15 ? 'orange' : '#3aff3a')};` class='h6') #{product.quantity}
              if product.quantity === 0
                p.text-danger.h6 - Status: Not in stock
              else if product.quantity < 15
                p.text-warning.h6 - Status: Few in stock
              else
                p.text-success.h6 - Status: Available
  else
    p There are no products.
