extends layout

block content
  h1 Title: #{product.name}

  p #[strong Manufacturer: ]
    a(href=manufacturer.url) #{manufacturer.name}
  p #[strong Category: ]
    each cat in category
      a(href=cat.url) #{cat.name}
  p #[strong Description: ] #{product.description}     

  div(style='margin-left:20px;margin-top:20px')
    h4 Locations
      ul
        each val in product.location
          li
            |#{val.name} 
            | located at: #{val.address}

  p #[strong Quantity: ] #{product.quantity}
  p #[strong Status: ]
    if product.quantity < 10
      |  Few in stock
    else if product.quantity === 0
      |  Not in stock
    else
      |  Available
