extends layout

block content
  h1= title

  if errorMessage
    p(style="color: red;")= errorMessage

  form(method="POST" enctype="multipart/form-data")
    div.form-group
      label(for="name") Name:
      input#name.form-control(type="text", name="name", required, value=(undefined === product ? '' : product.name))

    div.form-group
      label(for="description") Description:
      textarea#description.form-control(name="description", required)= (undefined === product ? '' : product.description)

    div.form-group
      label(for="price") Price:
      input#price.form-control(type="number", name="price", min="0", max="4000", required, value=(undefined === product ? '' : product.price))

    div.form-group
      label(for="manufacturer") Manufacturer:
      select#manufacturer.form-control(name="manufacturer", required)
        each manufacturer in manufacturers
          option(value=manufacturer._id, selected=(undefined !== product && product.manufacturer.toString() === manufacturer._id.toString()))= manufacturer.name

    div.form-group
      label(for="quantity") Quantity:
      input#quantity.form-control(type="number", name="quantity", min="0", max="4000", required, value=(undefined === product ? '' : product.quantity))

    div.form-group
      label Categories:
      .row
        each category in categories
          .col-md-3
            input(type="checkbox", id="category_"+category._id, name="category", value=category._id, checked=(undefined !== product && product.category.includes(category._id.toString())))
            label(for="category_"+category._id)= category.name

    div.form-group
      label(for="location") Location:
      select#location.form-control(name="location", required)
        each location in locations
          option(value=location._id, selected=(undefined !== product && product.location.toString() === location._id.toString()))= location.name

    div.form-group
      label(for="img") Product Image:
      if product && product.img
        img(src=`data:image/jpeg;base64,${product.img.toString('base64')}`, alt="Product Image")
      input#img.form-control(type="file", name="img", accept="image/*")

    div.form-group
      button.btn.btn-primary(type="submit") Create Product
