extends layout
block content
  h1 Title: #{product.name}

  p #[strong Manufacturer: ]
    a(href=manufacturer.url) #{manufacturer.name}
  p #[strong Category: ]
    each cat in product.category
      a(href=cat.url) #{cat.name}
      |;  
  p #[strong Description: ] #{product.description}  
  
  p #[strong Locations]: 
   each loc in product.location
       | #{loc.name} 
       | located at: #{loc.address}

  p #[strong Quantity: ] #{product.quantity}
  p #[strong Status: ]
    if product.quantity < 10
      |  Few in stock
    else if product.quantity === 0
      |  Not in stock
    else
      |  Available

  if product.img
    img(src=`data:image/jpeg;base64,${product.img.toString('base64')}`, alt="Product Image")

  hr
  p
    a(href=`${product.url}/delete`) Delete product
  
  p
    a(href=`${product.url}/update`) Update product
