extends layout

block content
  h1= title
  if productList.length
    ul.list-group
      each product in productList
        li.list-group-item
          a(href=product.url, class='d-block h4 mb-1') #{product.name}
          | Manufactured by: 
          a(href=product.manufacturer.url) #{product.manufacturer.name}
          br
          | Quantity: 
          span.badge(style=`background-color: ${product.quantity < 10 ? 'orange' : (product.quantity === 0 ? 'red' : '#3aff3a')};` class='h6') #{product.quantity}
          br
          if product.quantity < 10
            span.text-warning.h6 - Status: Few in stock
          else if product.quantity === 0
            span.text-danger.h6 - Status: Not in stock
          else
            span.text-success.h6 - Status: Available
  else
    p There are no products.
