extends layout

block content
  h1= title

  if errorMessage
    p(style="color: red;")= errorMessage

  form(method="POST" enctype="multipart/form-data")
    label(for="name") Name:
    input(type="text" id="name" name="name" required)
    br

    label(for="description") Description:
    textarea(id="description" name="description" required)
    br

    label(for="price") Price:
    input(type="number" id="price" name="price" min="0" max="4000" required)
    br

    label(for="manufacturer") Manufacturer:
    select(id="manufacturer" name="manufacturer" required)
      each manufacturer in manufacturers
        option(value=manufacturer._id)= manufacturer.name
    br

    label(for="quantity") Quantity:
    input(type="number" id="quantity" name="quantity" min="0" max="4000" required)
    br

    label Categories:
    each category in categories
      div
        input(type="checkbox" id=category._id name="category" value=category._id)
        label(for=category._id)= category.name
    br

    label(for="location") Location:
    select(id="location" name="location" required)
      each location in locations
        option(value=location._id)= location.name
    br

    label(for="img") Product Image:
    input(type="file" id="img" name="img" accept="image/*")
    br

    button(type="submit") Create Product
